 @font-face {
  font-family: dash;
  src: url("Dash-Horizon-Demo.otf");
 }




.personaje-imagen {
display: block; 
margin: 20px auto; 
border-radius: 15px; 
box-shadow: 0 8px 20px rgba(0,0,0,0.4); 
transition: transform 0.3s;
max-width: 100%;
height: auto;
}

.nombre-campeon-vacio{
font-family:Dash, Helvetica, sans-serif;
font-size: 70px;                             
text-align: center;                         
color: #6a0dad;                              
text-shadow: 3px 3px 6px rgba(0,0,0,0.6);  
margin: 15px 0;   
-webkit-text-stroke: 1px black;                           
}
.personaje-contenido {
  max-width: 900px;      
  margin: 0 auto;       
  padding: 20px;
  text-align: justify;  
  font-family: 'Spartan MB', Helvetica, sans-serif;
  color:black;
}
.personaje-contenido ul li{margin:12px;
  line-height: 35px;
  
}
@media screen and (max-width: 1024px) {
  .nombre-campeon-vacio {
    font-size: 50px;
  }
}
@media screen and (max-width: 360px) {
  .nombre-campeon-vacio {
    font-size: 35px;
  }
}

