 /* Importamos y definimos la fuente personalizada Dash que utilizaremos para los titulos de los campeones */

 
 @font-face {
  font-family: dash;
  src: url("Dash-Horizon-Demo.otf");
 }



/* A침adimos formato sobre las imagenes de los campeones */

.personaje-imagen {
display: block; 
margin: 20px auto; 
border-radius: 15px; 
max-width: 100%;
height: auto;
}

/* A침adimos formato sobre los nombres de los campeones */
.nombre-campeon-vacio{
font-family:Dash, Helvetica, sans-serif;
font-size: 70px;                             
text-align: center;                         
color: #6a0dad;                               
margin: 15px 0;   
-webkit-text-stroke: 1px black;                           
}
.nombre-campeon-aguas-estancadas{
font-family:Dash, Helvetica, sans-serif;
font-size: 70px;                             
text-align: center;                         
color: #2E4D3C;                               
margin: 15px 0;   
-webkit-text-stroke: 1px black;                           
}
.nombre-campeon-demacia{
font-family:Dash, Helvetica, sans-serif;
font-size: 70px;                             
text-align: center;                         
color: #F5F5F5;                              
margin: 15px 0;   
-webkit-text-stroke: 1px black;                           
}
.nombre-campeon-freljord{
font-family:Dash, Helvetica, sans-serif;
font-size: 70px;                             
text-align: center;                         
color: #1E3A8A;                               
margin: 15px 0;   
-webkit-text-stroke: 1px black;                           
}
.nombre-campeon-ionia{
font-family:Dash, Helvetica, sans-serif;
font-size: 70px;                             
text-align: center;                         
color: #C8A2C8;                               
margin: 15px 0;   
-webkit-text-stroke: 1px black;                           
}
.nombre-campeon-shurima{
font-family:Dash, Helvetica, sans-serif;
font-size: 70px;                             
text-align: center;                         
color: #D2B48C;                               
margin: 15px 0;   
-webkit-text-stroke: 1px black;                           
}

/* A침adimos formato sobre el contenido de la informaci칩n de los campeones */

.personaje-contenido {
  max-width: 900px;      
  margin: 0 auto;       
  padding: 20px;
  text-align: justify;  
  font-family: 'Spartan MB', Helvetica, sans-serif;
  color:black;
}
.personaje-contenido ul li{margin:12px;
  line-height: 35px;
  
}

/* Media query para pantallas menores a 1024px para hacer la web responsive */

@media screen and (max-width: 1024px) {
  .nombre-campeon-vacio {
    font-size: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .nombre-campeon-aguas-estancadas {
    font-size: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .nombre-campeon-demacia {
    font-size: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .nombre-campeon-freljord {
    font-size: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .nombre-campeon-ionia {
    font-size: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .nombre-campeon-shurima {
    font-size: 50px;
  }
}


/* Media query para pantallas menores a 360px para hacer la web responsive */

@media screen and (max-width: 360px) {
  .nombre-campeon-vacio {
    font-size: 50px;
  }
  .personaje-contenido ul li{margin:8px;
  line-height: 25px;
  
}
}
@media screen and (max-width: 360px) {
  .nombre-campeon-aguas-estancadas {
    font-size: 50px;
  }
  .personaje-contenido ul li{margin:8px;
  line-height: 25px;
  
}
}
@media screen and (max-width: 360px) {
  .nombre-campeon-demacia {
    font-size: 50px;
  }
  .personaje-contenido ul li{margin:8px;
  line-height: 25px;
  
}
}
@media screen and (max-width: 360px) {
  .nombre-campeon-freljord {
    font-size: 50px;
  }
  .personaje-contenido ul li{margin:8px;
  line-height: 25px;
  
}
}
@media screen and (max-width: 360px) {
  .nombre-campeon-ionia {
    font-size: 50px;
  }
  .personaje-contenido ul li{margin:8px;
  line-height: 25px;
  
}
}
@media screen and (max-width: 360px) {
  .nombre-campeon-shurima {
    font-size: 50px;
  }
  .personaje-contenido ul li{margin:8px;
  line-height: 25px;
  
}
}

