.cuadro.region { background-image:url(region.jpg); }
.cuadro.posicion { background-image: url(posicion.png); background-size:cover; 
background-repeat: no-repeat;}
.cuadro.dificultad { background-image: url(dificultad.png); }
