ol {
  counter-reset: region-counter;
  padding-left: 0;
  margin: 30px auto;
  max-width: 900px;
  font-family: 'Spartan MB', Helvetica, sans-serif;
}

ol > li {
  list-style: none;
  counter-increment: region-counter;
  margin-bottom: 25px;
  padding: 20px 25px;
  border-radius: 15px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
  transition: transform 0.3s, box-shadow 0.3s;
 background-color: rgba(0,0,0,0.4); 
  background-size: cover;
  background-position: center;
}

.icono-posicion {
  width: 300px;
  height: auto;
  display:flex;
  position:absolute;
  left: 500px;
  z-index: 1;
}


ol > li:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.5);
}

ol > li::before { content: counter(region-counter) ". "; font-weight: bold; font-size: 26px; margin-right: 10px; }

 
ol > li.toplane { background-color: #1e3a8a;}
 
ol > li.demacia { background-image: url(Demacia_Hall_Of_Valor.webp); } 
ol > li.freljord { background-image: url(Freljord_Pilgrim_Site_Of_Rakelstake.webp); } 
ol > li.ionia { background-image:url(Ionia_The_Placidium.webp); } 
ol > li.shurima { background-image: url(Shurima_The_Rebirth.webp); } 
ol > li.el-vacio {background-image:url(el\ vacio.webp) } 

ol li ul { list-style: disc inside; margin-top: 12px; padding-left: 20px; }

ol li ul li a { text-decoration: none; color: #fff; font-weight: bold; transition: color 0.3s, text-shadow 0.3s; }
ol li ul li a:hover { color: #ffdd57; text-shadow: 2px 2px 5px rgba(0,0,0,0.5); }

@media (max-width: 1024px) {
  ol { padding: 0 15px; }
  ol > li { font-size: 18px; padding: 18px 20px; }
  ol li ul li { font-size: 16px; }
}

@media (max-width: 768px) {
  ol > li { font-size: 16px; padding: 15px 15px; }
  ol li ul li { font-size: 14px; }
}