/* Aquí he ido poniendo formato a las listas, no sabía como hacer para poner los números en grande y he buscado en internet esa parte*/

ol {
  padding-left: 0;
  margin: 30px auto;
  max-width: 900px;
  font-family: 'Spartan MB', Helvetica, sans-serif;
}

ol>li {
  list-style: none;
  counter-increment: region-counter;
  margin-bottom: 25px;
  padding: 20px 25px;
  border-radius: 15px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* He añadido las imagenes de fondo */

.toplane {
  background-image: url(top.png);
}

.jungla {
  background-image: url(jungla.png);
}

.midlane {
  background-image: url(medio.png);
}

.adcarry {
  background-image: url(adcarry.png);
}

.support {
  background-image: url(soporte.png);
}

/* He puesto un formato para que cuando estemos con el cursor encima de los cuadros se eleven levemente */

ol>li:hover {
  transform: translateY(-5px);
}

ol>li::before {
  content: counter(region-counter) ". ";
  font-weight: bold;
  font-size: 26px;
  margin-right: 10px;
}

ol li ul {
  margin-top: 12px;
  padding-left: 20px;
  list-style: disc inside;
}

ol li ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

ol li ul li a:hover {
  color: #ffdd57;
}

/* Media query para pantallas menores a 1024px para hacer la web responsive */

@media (max-width: 1024px) {
  ol {
    padding: 0 15px;
  }

  ol>li {
    font-size: 18px;
    padding: 18px 20px;
  }

  ol li ul li {
    font-size: 16px;
  }
}

/* Media query para pantallas menores a 360px para hacer la web responsive */

@media (max-width: 360px) {
  ol>li {
    font-size: 16px;
    padding: 15px 15px;
  }

  ol li ul li {
    font-size: 14px;
  }
}